/* style.css
 *
 * Style sheet for Composite product specification.
 *
 */
body { 
	margin-left: 12%;
	margin-right: 12%;
	font-family: verdana, sans serif, sans;
	font-size: large;
}

h1, h3, h4 {
}

h2 {
	margin-top: 0;
	padding-top: .2em;
	border-bottom: 3px double black;
}

div.section { 
	padding-left: 1em;
	padding-right: 1em;
}

span.application { 
	font-family: Monospace;
	font-weight: bold;
	font-size: 125%;
}

span.name { 
	font-family: Monospace;
	font-weight: bold;
	font-size: 125%;
}

tr.question {
	font-weight: bold;
	font-size: 133%;
}

tr.question p {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

tr.answer td {
	padding-top: 0;
	padding-bottom: 1em;
	margin-top: 0;
	margin-bottom: 0;
}

